.navbar i {
    font-size: 1.3rem;
}

body {
  background: linear-gradient(
    135deg,
    #fff8fa,
    #fffdfd
  );

  min-height: 100vh;
}

/* desktop width fix */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

background: linear-gradient(
135deg,
#fff8fa,
#fffdfd
);


/* for cards, i like this rounded size */
.m-round-20 {
  border-radius: 20px;  
  overflow: hidden;      
}
